<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.dao.CorporationMapper">
  <resultMap id="BaseResultMap" type="com.zw.model.Corporation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="boss" jdbcType="VARCHAR" property="boss" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from corporation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zw.model.Corporation">
    insert into corporation (id, name, address, 
      state, boss, phone, 
      img)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{boss,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zw.model.Corporation">
    update corporation
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      boss = #{boss,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, address, state, boss, phone, img
    from corporation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, address, state, boss, phone, img
    from corporation
  </select>
</mapper>