<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.dao.mapper.generate.CorporationMapper">
  <resultMap id="BaseResultMap" type="com.zw.dao.entity.Corporation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="boss_id" jdbcType="BIGINT" property="bossId" />
    <result column="logo_id" jdbcType="BIGINT" property="logoId" />
    <result column="province_id" jdbcType="SMALLINT" property="provinceId" />
    <result column="city_id" jdbcType="SMALLINT" property="cityId" />
    <result column="county_id" jdbcType="SMALLINT" property="countyId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="ability" jdbcType="VARCHAR" property="ability" />
    <result column="flag" jdbcType="SMALLINT" property="flag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, state, boss_id, logo_id, province_id, city_id, county_id, address, ability, 
    flag
  </sql>
  <select id="selectByExample" parameterType="com.zw.dao.entity.CorporationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cm_corporation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_corporation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cm_corporation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zw.dao.entity.CorporationExample">
    delete from cm_corporation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zw.dao.entity.Corporation">
    insert into cm_corporation (id, name, state, 
      boss_id, logo_id, province_id, 
      city_id, county_id, address, 
      ability, flag)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{state,jdbcType=SMALLINT}, 
      #{bossId,jdbcType=BIGINT}, #{logoId,jdbcType=BIGINT}, #{provinceId,jdbcType=SMALLINT}, 
      #{cityId,jdbcType=SMALLINT}, #{countyId,jdbcType=SMALLINT}, #{address,jdbcType=VARCHAR}, 
      #{ability,jdbcType=VARCHAR}, #{flag,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zw.dao.entity.Corporation">
    insert into cm_corporation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="bossId != null">
        boss_id,
      </if>
      <if test="logoId != null">
        logo_id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="countyId != null">
        county_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="ability != null">
        ability,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="bossId != null">
        #{bossId,jdbcType=BIGINT},
      </if>
      <if test="logoId != null">
        #{logoId,jdbcType=BIGINT},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=SMALLINT},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="countyId != null">
        #{countyId,jdbcType=SMALLINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="ability != null">
        #{ability,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zw.dao.entity.CorporationExample" resultType="java.lang.Long">
    select count(*) from cm_corporation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cm_corporation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.bossId != null">
        boss_id = #{record.bossId,jdbcType=BIGINT},
      </if>
      <if test="record.logoId != null">
        logo_id = #{record.logoId,jdbcType=BIGINT},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=SMALLINT},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=SMALLINT},
      </if>
      <if test="record.countyId != null">
        county_id = #{record.countyId,jdbcType=SMALLINT},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.ability != null">
        ability = #{record.ability,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cm_corporation
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=SMALLINT},
      boss_id = #{record.bossId,jdbcType=BIGINT},
      logo_id = #{record.logoId,jdbcType=BIGINT},
      province_id = #{record.provinceId,jdbcType=SMALLINT},
      city_id = #{record.cityId,jdbcType=SMALLINT},
      county_id = #{record.countyId,jdbcType=SMALLINT},
      address = #{record.address,jdbcType=VARCHAR},
      ability = #{record.ability,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zw.dao.entity.Corporation">
    update cm_corporation
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="bossId != null">
        boss_id = #{bossId,jdbcType=BIGINT},
      </if>
      <if test="logoId != null">
        logo_id = #{logoId,jdbcType=BIGINT},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=SMALLINT},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="countyId != null">
        county_id = #{countyId,jdbcType=SMALLINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="ability != null">
        ability = #{ability,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zw.dao.entity.Corporation">
    update cm_corporation
    set name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      boss_id = #{bossId,jdbcType=BIGINT},
      logo_id = #{logoId,jdbcType=BIGINT},
      province_id = #{provinceId,jdbcType=SMALLINT},
      city_id = #{cityId,jdbcType=SMALLINT},
      county_id = #{countyId,jdbcType=SMALLINT},
      address = #{address,jdbcType=VARCHAR},
      ability = #{ability,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>