<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.dao.mapper.generate.UserMapper">
  <resultMap id="BaseResultMap" type="com.zw.dao.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="ability" jdbcType="VARCHAR" property="ability" />
    <result column="roles" jdbcType="VARCHAR" property="roles" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="password_key" jdbcType="VARCHAR" property="passwordKey" />
    <result column="corporation_id" jdbcType="BIGINT" property="corporationId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="img_id" jdbcType="VARCHAR" property="imgId" />
    <result column="flag" jdbcType="SMALLINT" property="flag" />
    <result column="gx_ids" jdbcType="VARCHAR" property="gxIds" />
    <result column="invite_id" jdbcType="BIGINT" property="inviteId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="courier" jdbcType="VARCHAR" property="courier" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, login_name, state, ability, roles, password, password_key, corporation_id, 
    phone, img_id, flag, gx_ids, invite_id, brand_id, address, courier
  </sql>
  <select id="selectByExample" parameterType="com.zw.dao.entity.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cm_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cm_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zw.dao.entity.UserExample">
    delete from cm_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zw.dao.entity.User">
    insert into cm_user (id, name, login_name, 
      state, ability, roles, 
      password, password_key, corporation_id, 
      phone, img_id, flag, 
      gx_ids, invite_id, brand_id, 
      address, courier)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{state,jdbcType=SMALLINT}, #{ability,jdbcType=VARCHAR}, #{roles,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{passwordKey,jdbcType=VARCHAR}, #{corporationId,jdbcType=BIGINT}, 
      #{phone,jdbcType=VARCHAR}, #{imgId,jdbcType=VARCHAR}, #{flag,jdbcType=SMALLINT}, 
      #{gxIds,jdbcType=VARCHAR}, #{inviteId,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{courier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zw.dao.entity.User">
    insert into cm_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="ability != null">
        ability,
      </if>
      <if test="roles != null">
        roles,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="passwordKey != null">
        password_key,
      </if>
      <if test="corporationId != null">
        corporation_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="imgId != null">
        img_id,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="gxIds != null">
        gx_ids,
      </if>
      <if test="inviteId != null">
        invite_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="courier != null">
        courier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="ability != null">
        #{ability,jdbcType=VARCHAR},
      </if>
      <if test="roles != null">
        #{roles,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="passwordKey != null">
        #{passwordKey,jdbcType=VARCHAR},
      </if>
      <if test="corporationId != null">
        #{corporationId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=SMALLINT},
      </if>
      <if test="gxIds != null">
        #{gxIds,jdbcType=VARCHAR},
      </if>
      <if test="inviteId != null">
        #{inviteId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="courier != null">
        #{courier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zw.dao.entity.UserExample" resultType="java.lang.Long">
    select count(*) from cm_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cm_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null">
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.ability != null">
        ability = #{record.ability,jdbcType=VARCHAR},
      </if>
      <if test="record.roles != null">
        roles = #{record.roles,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.passwordKey != null">
        password_key = #{record.passwordKey,jdbcType=VARCHAR},
      </if>
      <if test="record.corporationId != null">
        corporation_id = #{record.corporationId,jdbcType=BIGINT},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.imgId != null">
        img_id = #{record.imgId,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=SMALLINT},
      </if>
      <if test="record.gxIds != null">
        gx_ids = #{record.gxIds,jdbcType=VARCHAR},
      </if>
      <if test="record.inviteId != null">
        invite_id = #{record.inviteId,jdbcType=BIGINT},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.courier != null">
        courier = #{record.courier,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cm_user
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=SMALLINT},
      ability = #{record.ability,jdbcType=VARCHAR},
      roles = #{record.roles,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      password_key = #{record.passwordKey,jdbcType=VARCHAR},
      corporation_id = #{record.corporationId,jdbcType=BIGINT},
      phone = #{record.phone,jdbcType=VARCHAR},
      img_id = #{record.imgId,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=SMALLINT},
      gx_ids = #{record.gxIds,jdbcType=VARCHAR},
      invite_id = #{record.inviteId,jdbcType=BIGINT},
      brand_id = #{record.brandId,jdbcType=BIGINT},
      address = #{record.address,jdbcType=VARCHAR},
      courier = #{record.courier,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zw.dao.entity.User">
    update cm_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="ability != null">
        ability = #{ability,jdbcType=VARCHAR},
      </if>
      <if test="roles != null">
        roles = #{roles,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="passwordKey != null">
        password_key = #{passwordKey,jdbcType=VARCHAR},
      </if>
      <if test="corporationId != null">
        corporation_id = #{corporationId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        img_id = #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=SMALLINT},
      </if>
      <if test="gxIds != null">
        gx_ids = #{gxIds,jdbcType=VARCHAR},
      </if>
      <if test="inviteId != null">
        invite_id = #{inviteId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="courier != null">
        courier = #{courier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zw.dao.entity.User">
    update cm_user
    set name = #{name,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      ability = #{ability,jdbcType=VARCHAR},
      roles = #{roles,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      password_key = #{passwordKey,jdbcType=VARCHAR},
      corporation_id = #{corporationId,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      img_id = #{imgId,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=SMALLINT},
      gx_ids = #{gxIds,jdbcType=VARCHAR},
      invite_id = #{inviteId,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      courier = #{courier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.zw.dao.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="ability" jdbcType="VARCHAR" property="ability" />
    <result column="roles" jdbcType="VARCHAR" property="roles" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="password_key" jdbcType="VARCHAR" property="passwordKey" />
    <result column="corporation_id" jdbcType="BIGINT" property="corporationId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="img_id" jdbcType="VARCHAR" property="imgId" />
    <result column="flag" jdbcType="SMALLINT" property="flag" />
    <result column="gx_ids" jdbcType="VARCHAR" property="gxIds" />
    <result column="invite_id" jdbcType="BIGINT" property="inviteId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="courier" jdbcType="VARCHAR" property="courier" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, login_name, state, ability, roles, password, password_key, corporation_id, 
    phone, img_id, flag, gx_ids, invite_id, brand_id, address, courier
  </sql>
  <select id="selectByExample" parameterType="com.zw.dao.entity.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cm_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cm_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zw.dao.entity.UserExample">
    delete from cm_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zw.dao.entity.User">
    insert into cm_user (id, name, login_name, 
      state, ability, roles, 
      password, password_key, corporation_id, 
      phone, img_id, flag, 
      gx_ids, invite_id, brand_id, 
      address, courier)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{state,jdbcType=SMALLINT}, #{ability,jdbcType=VARCHAR}, #{roles,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{passwordKey,jdbcType=VARCHAR}, #{corporationId,jdbcType=BIGINT}, 
      #{phone,jdbcType=VARCHAR}, #{imgId,jdbcType=VARCHAR}, #{flag,jdbcType=SMALLINT}, 
      #{gxIds,jdbcType=VARCHAR}, #{inviteId,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT}, 
      #{address,jdbcType=VARCHAR}, #{courier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zw.dao.entity.User">
    insert into cm_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="ability != null">
        ability,
      </if>
      <if test="roles != null">
        roles,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="passwordKey != null">
        password_key,
      </if>
      <if test="corporationId != null">
        corporation_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="imgId != null">
        img_id,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="gxIds != null">
        gx_ids,
      </if>
      <if test="inviteId != null">
        invite_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="courier != null">
        courier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="ability != null">
        #{ability,jdbcType=VARCHAR},
      </if>
      <if test="roles != null">
        #{roles,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="passwordKey != null">
        #{passwordKey,jdbcType=VARCHAR},
      </if>
      <if test="corporationId != null">
        #{corporationId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=SMALLINT},
      </if>
      <if test="gxIds != null">
        #{gxIds,jdbcType=VARCHAR},
      </if>
      <if test="inviteId != null">
        #{inviteId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="courier != null">
        #{courier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zw.dao.entity.UserExample" resultType="java.lang.Long">
    select count(*) from cm_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cm_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null">
        login_name = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.ability != null">
        ability = #{record.ability,jdbcType=VARCHAR},
      </if>
      <if test="record.roles != null">
        roles = #{record.roles,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.passwordKey != null">
        password_key = #{record.passwordKey,jdbcType=VARCHAR},
      </if>
      <if test="record.corporationId != null">
        corporation_id = #{record.corporationId,jdbcType=BIGINT},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.imgId != null">
        img_id = #{record.imgId,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=SMALLINT},
      </if>
      <if test="record.gxIds != null">
        gx_ids = #{record.gxIds,jdbcType=VARCHAR},
      </if>
      <if test="record.inviteId != null">
        invite_id = #{record.inviteId,jdbcType=BIGINT},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.courier != null">
        courier = #{record.courier,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cm_user
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      login_name = #{record.loginName,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=SMALLINT},
      ability = #{record.ability,jdbcType=VARCHAR},
      roles = #{record.roles,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      password_key = #{record.passwordKey,jdbcType=VARCHAR},
      corporation_id = #{record.corporationId,jdbcType=BIGINT},
      phone = #{record.phone,jdbcType=VARCHAR},
      img_id = #{record.imgId,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=SMALLINT},
      gx_ids = #{record.gxIds,jdbcType=VARCHAR},
      invite_id = #{record.inviteId,jdbcType=BIGINT},
      brand_id = #{record.brandId,jdbcType=BIGINT},
      address = #{record.address,jdbcType=VARCHAR},
      courier = #{record.courier,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zw.dao.entity.User">
    update cm_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="ability != null">
        ability = #{ability,jdbcType=VARCHAR},
      </if>
      <if test="roles != null">
        roles = #{roles,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="passwordKey != null">
        password_key = #{passwordKey,jdbcType=VARCHAR},
      </if>
      <if test="corporationId != null">
        corporation_id = #{corporationId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        img_id = #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=SMALLINT},
      </if>
      <if test="gxIds != null">
        gx_ids = #{gxIds,jdbcType=VARCHAR},
      </if>
      <if test="inviteId != null">
        invite_id = #{inviteId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="courier != null">
        courier = #{courier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zw.dao.entity.User">
    update cm_user
    set name = #{name,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      ability = #{ability,jdbcType=VARCHAR},
      roles = #{roles,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      password_key = #{passwordKey,jdbcType=VARCHAR},
      corporation_id = #{corporationId,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      img_id = #{imgId,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=SMALLINT},
      gx_ids = #{gxIds,jdbcType=VARCHAR},
      invite_id = #{inviteId,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      courier = #{courier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>